<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen"/>
    <title>Renata Rodrigues</title>
</head>
<body>
    <section class="main2">
        <nav class="header">
                <a href="index.html" id="hdr">Home</a>
                <a href="projects.html" id="hdr">My Projects</a>
                <a href="qualification.html" id="hdr">Qualification</a>
        </nav>
        <div class="content">
            <div class="foto">
                <img src="rr.png" id="foto"/>
            </div>
            <div class="me">
                <h1 class="me1">A little bit about me</h1>
                <h2 class="me2">It's nice to have you here.</h2>
                <p class="p">I'm Renata Rodrigues, part time Full Stack Web Developer, full time dog lover.</p>
                <p class="p">I'm always looking for new challenges... And what better way to challenge<br>
                            yourself than following an old dream? So, I changed the course of things a little<br>
                            bit and started a new career.</p>
                <p class="p">I found in web development the best way to combine skills and new knowledge.</p> 
                <p class="p">Build, develop, improve, make concrete... These things are great for my mind.</p>
                <p class="p" id="pp">And I'm loving it!</p>    
            </div>

        </div>
            <div>
        </div>
        <footer class="ftr">
            <a href="https://github.com/RenataAER"><img src="https://www.shareicon.net/data/256x256/2015/09/15/101512_logo_512x512.png" id="ghb"/>
            <a href="https://www.instagram.com/renata_rodsrs/"><img src="https://cdn.iconscout.com/icon/free/png-256/instagram-1946323-1646407.png" id="insta"/>
            </a>
        </footer>
    </section>
    
</body>
</html>