<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen"/><link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen"/>
    <title>Renata Rodrigues</title>
</head>
<body>
    <section class="main2">
        <nav class="header">
            <a href="index.html" id="hdr">Home</a>
            <a href="about.html" id="hdr">About me</a>
            <a href="qualification.html" id="hdr">Qualification</a>
        </nav>
        <div class="contentp">
            <div class="proj">
                <img src="rr.png" id="proj1"/>
                <div class="proj1">
                    <h1 class="h3">Pet Store Project</h1>
                    <p class="p" id="ppp">E-comerce pet shop developed during Full Stack Web Developer certification course, by Digital House Brasil</p>
                </div>    
            </div>
            <div class="proj">
                <img src="rr.png" id="proj1"/>
                <div class="proj1">
                    <h1 class="h3">RCA Project</h1>
                    <p class="p">Monitoring and evolution report of home patients assisted by the company</p>
                </div>
            </div>    
            <div class="proj">
                <img src="rr.png" id="proj1"/>
                <div class="proj1">
                    <h1 class="h3">Projeto Pet Store</h1>
                    <p class="p">Pet shop e-comerce desenvolvido durante o curso Full Stack Web Developer pela Digital House Brasil</p>
                </div>    
            </div>    
        </div>
        </div>
        <footer class="ftr">
            <a href="https://github.com/RenataAER"><img src="https://www.shareicon.net/data/256x256/2015/09/15/101512_logo_512x512.png" id="ghb"/>
            <a href="https://www.instagram.com/renata_rodsrs/"><img src="https://cdn.iconscout.com/icon/free/png-256/instagram-1946323-1646407.png" id="insta"/>
            </a>
        </footer>    
    </section>    
</body>
</html>