<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen"/>
    <title>Renata Rodrigues</title>
</head>
<body>
    <section class="main">
        <nav class="header">
            <a href="home.html" id="hdr">Home</a>
            <a href="projects.html" id="hdr">My Projects</a>
            <a href="qualification.html" id="hdr">Qualifications</a>
        </nav>
    
</body>
</html>