<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen"/>
    <title>Renata Rodrigues</title>
</head>
<body>
    <section class="main">
        <nav class="header">
            <a href="about.html" id="hdr">About me</a>
            <a href="projects.html" id="hdr">My Projects</a>
            <a href="qualification.html" id="hdr">Qualification</a>
        </nav>
        <div class="container">
            <div class="text">
                <h1 class="h1"> Hey, there!</h1>
                <h2 class="h2">I'm Renata</h2>
                <h3 class="h3">Part time Full Stack Web Developer,<br> full time dog lover.</h3>
                <h3 class="h3">Welcome to my portfolio page!</h3> 
            </div>  
            <div class="logo1">
                <img src="https://www.w3.org/html/logo/downloads/HTML5_Logo_256.png" id="html"/>
                <img src="https://bognarjunior.files.wordpress.com/2018/01/1crcyaithv7aiqh1z93v99q.png" id="js"/>
                <img src="https://www.shareicon.net/download/2016/07/10/119874_apps.ico" id="react"/>
            </div>
            <div class="logo2">    
                <img src="https://m3tech.com.br/img/iconcss3.png" id="css"/>
                <img src="https://camo.githubusercontent.com/c12b2624d16bb6e94db31a1c9625669f1e9211eeea5157b98397301208191648/68747470733a2f2f6432656970397366336f6f3663322e636c6f756466726f6e742e6e65742f746167732f696d616765732f3030302f3030302f3235362f7371756172655f3235362f6e6f64656a736c6f676f2e706e67" id="node"/>
                <img src="https://www.freepnglogos.com/uploads/logo-mysql-png/logo-mysql-mysql-logo-png-images-are-download-crazypng-21.png" id="sql"/>
            </div>
        </div>    
        <footer class="ftr">
            <a href="https://github.com/RenataAER"><img src="https://www.shareicon.net/data/256x256/2015/09/15/101512_logo_512x512.png" id="ghb"/>
            <a href="https://www.instagram.com/renata_rodsrs/"><img src="https://cdn.iconscout.com/icon/free/png-256/instagram-1946323-1646407.png" id="insta"/>
            </a>
        </footer>
    </section>
    
</body>
</html>